{sub_dirs, ["apps/skel", "apps/skelnode", "apps/mori", "rel"]}.
{deps_dir, ["deps"]}.
{deps, [
  {gproc, ".*", {git, "git://github.com/esl/gproc.git"}},
  {sync, ".*", {git, "git://github.com/rustyio/sync.git"}},
  {lager, ".*", {git, "git://github.com/basho/lager.git"}},
  {eredis, ".*", {git, "git://github.com/wooga/eredis.git"}},
  {cowboy, ".*", {git, "git://github.com/extend/cowboy.git"}} ]}.
